
.playlist {
  width: 100%;
}

.playlist-container {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Banner */

.playlist__banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 26%;
  align-self: flex-start;
  padding: 60px 0;
}

.playlist__thumb {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.playlist__banner-img  {
  border-radius: 10px;
}

.playlist__title {
  color: #fff;
  text-align: center;
}

.playlist__title > h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
}

.playlist__title > :not(:first-child) {
  font-size: 12px;
  color: #837f8a;
  font-weight: 600;
  margin-bottom: 10px;
}

.playlist__bottom-btn {
  margin-top: 20px;
}

.bottom__btn {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.bottom__item {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.bottom__item:last-child {
  margin-left: 20px;
}

/* Playlist song */

.playlist__song {
  width: 71%;
}

.sortDescription {
  width: 100%;
}

.chart-page__playlist {
  width: 100%;
}

.playlist__sort-description {
  color: #837f8a;
  font-size: 14px;
  font-weight: 500;
}

.descript {
  color: #fff;
}

.chart-page__playlist {
  width: 100% !important;
}


/* artist slide */

.playlist__artist-slide {
  width: 90%;
  margin: 50px auto;
  color: #fff;
}

.playlist__artist-title {
  margin-bottom: 30px;
}

.artist__thumb {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.artist__thumb img{
  width: 100%;
  transition: all .3s ease-out;
  object-fit: cover;
}

.artist__thumb:hover img {
  transform: scale(1.1);
}


.artist__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist__name {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.artist__follower {
  color: #827d88;
  font-size: 12px;
  font-weight: 600;
}

.artist__btn-fl {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background-color: #2f2739;
  border: 1px solid hsla(0,0%,100%,0.1);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.artist__btn-fl h4 {
  margin-left: 5px;
}

/* isplaying */

.isPlaying {
  animation: playing 12s linear infinite;
  border-radius: 999px !important;

  transition: all .3s ease-out;
}


@keyframes playing {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }


 /* responsive */

 @media only screen and (max-width: 600px) {
  .playlist-container {
    flex-direction: column;
  }

  .playlist__banner {
    width: 100%;
    position: static;
    display: flex;
    margin-top: 50px;
    margin-bottom: -30px;
  }

  .playlist__thumb {
    max-width: 40%;
    margin-right: 20px;
  }

  .playlist__title {
    text-align: left;
  }

  .playlist__bottom-btn {
    display: none;
  }

  /* Playlist song */
  .playlist__song {
    width: 100%;
  }

  .playlist__sort-description {
    display: none;
  }

  .playlist__album {
    display: none;
  }

  .playlist__duration {
    display: none;
  }

  .chart-playlist__item {
    justify-content: flex-start;
  }

  .playlist__item-title {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .playlist-container {
    flex-direction: column;
  }

  .playlist__banner {
    width: 100%;
    position: static;
    display: flex;
    margin-top: 50px;
  }

  .playlist__thumb {
    max-width: 40%;
    margin-right: 20px;
  }

  .playlist__title {
    text-align: left;
  }

  .playlist__bottom-btn {
    display: none;
  }

  /* Playlist song */
  .playlist__song {
    width: 100%;
  }

  .playlist__sort-description {
    display: none;
  }

  .playlist__album {
    display: none;
  }

  .playlist__duration {
    display: none;
  }

  .chart-playlist__item {
    justify-content: flex-start;
  }

  .playlist__item-title {
    width: 90% !important;
  }
}


/* artist hover */


.modal__hover {
  background-image: linear-gradient(to top, #7200a1 , #c662ef);
  width: 350px;
}

.modal__name {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.modal__thumb {
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.modal__name-content {
  display: flex;
  align-items: center;
}

.modal__title {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.modal__title-name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.modal__follow {
  font-size: 12px;
  color: hsla(0,0%,100%,0.5);
}

.modal__album {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
}

.modal__single {
  margin-top: 5px;
}

.thumb {
  width: 70px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  margin-bottom: 5px;
}