.left {
  background-color: #231b2e;
  color: #dadee2;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /* bottom: 0; */
  border: 1px solid #010101;
  width: inherit;
}

.left__mobile-icon {
  display: none;
  
}

.left__mobile-right {
  visibility: hidden;
  width: 0;
  height: 0;
}

.left__logo {
  width: 100%;
  font-size: 22px;
  margin: 20px 0;
}

.left__logo > img {
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left_menu {
  width: 100%;
}
.menu__item {
  display: flex;
  align-items: center;
  padding: 7px;
  padding-left: 20px;
  color: #d9d9d9;
}

.menu__item:hover {
  color: #fff;
}

.active {
  background-color: rgba(255, 255, 255, .15);
  position: relative;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #7200a1;
}

.menu__item > span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .left {
    position: fixed;
    top: 0;
    right: 0;
    /* bottom: unset; */
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }

  .left__menu {
    display: none;
  }

  .left__mobile-icon {
    display: block;
    width: 33.33%;
  }

  .left__logo {
    width: 33.33%;
  }

  .left__logo > img {
    margin: 0;
    width: 100%;
  }

  .left__mobile-right {
    display: flex;
    align-items: center;
    visibility: visible;
    width: 33.33%;
    justify-content: flex-end;
  }

  .left__mobile-avt {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}