.button {
  margin-top: 5px; 
  border-radius: 999px; 
  color: #fff;
  border: none;
  padding: 6px 20px;
  text-align: center;
  background-color: #7200a1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #670091;
}