
.topic {
  cursor: pointer;
}

.topic:hover .topic__icon {
  visibility: visible;
  opacity: 1;
}

.topic:hover .topic__image {
  transform: scale(1.1);
}

.topic:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.topic__thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}



.topic__title:hover {
  color: #c662ef;
}

.topic__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.topic__title {
  color: #fff;
  font-size: 14px;
  margin: 8px 0;
  font-weight: 700;
}

.topic__icon {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.topic__icon > * {
  cursor: pointer;
}

.topic__icon > :first-child, .topic__icon > :last-child {
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  transition: all .3s ease-in-out;
}

.topic__icon > :first-child:hover, .topic__icon > :last-child:hover {
  background-color: rgba(255, 255, 255, .4);

}

.topic__play-icon:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}


.topic__description {

  color: hsla(0,0%,100%,0.5);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
