
.new-card {
  background-color: #2f2739;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.new__box-img {
  width: 30%;
}

.new__img {
  border-radius: 10px;
  margin: 15px;
}

.new__content-title {
  color: #fff;
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
}

.artist {
  font-size: 12px;
  font-weight: 500;
  color: hsla(0,0%,100%,0.5);
  margin: 5px 0;
}

.artist:hover {
  color: #c662ef;
  text-decoration: underline;
}

.new__content {
  width: 66%;
  padding-right: 10px;
}

.bottom {
  position: absolute;
  bottom: 5px;
  display: flex;
  left: 0;
  width: 100%;
  justify-content: space-between;
}


@media only screen and (max-width: 1024px) {
  .new__content {
    margin: 0;
  }

  .bottom {
    display: none;
  }
}