
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #120c1c;
  z-index: 999 !important;
  border-top: 1px solid hsla(0,0%,100%,0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.player__left {
  display: flex;
  align-items: center;
  width: 20%;
}

.left__thumb {
  width: 65px;
  margin-right: 10px;
}

.left__thumb > img {
  width: 100%;
  border-radius: 8px;
}

.left__name {
  margin: 0;
  font-size: 14px;
}

.left__artist {
  margin: 0;
}

.artist {
  font-size: 12px !important;
  color: #89868e !important;
  font-weight: 600 !important;
}


/* right */

.player__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.player__right-icon {
  margin-left: 15px;
}

.volumn {
  display: flex;
  align-items: center;
  width: 100%;
}


/* Slider */


.player__center {
  width: 50%;
}

.center__control {
  
}

.center__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center__control-item {
  margin: 0 10px;
  background-color: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center__control-item:hover {
  background-color: rgba(255, 255, 255, .1);
}

.mid-play {
  height: 36px;
  width: 36px;
  border: 2px solid #fff;
}

.mid-play:hover {
  color: #c662ef;
  border-color: #c662ef;
  background-color: transparent;
}

.center__slider {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.center__time {
  font-size: 14px;
  font-weight: 600;
}

.center__time-left {
  margin-right: 10px;
  opacity: .5;
}

.center__time-right {
  margin-left: 10px;

}

.main-color {
  color: #c662ef !important;
}

.music-player-controls__time__progress {
  width: 100%;
  display: flex;
}


.music-player-controls__time__progress > input {
  width: 100%;
  height: 3px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


/* Hidden player */

.player.hidden {
  visibility: hidden;
}