
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  
}
@media only screen and (max-width: 600px) {
    html {
      font-size: 60%;
    }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: "Inter", sans-serif;

  background-color: #170f23;
}

a {
  text-decoration: none;
  color: unset;
}

button,
input {
    outline: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
}

button {
  background: none;
  border: none;
}

/* App style */

.right {
  position: relative;
}

.content {
  display: flex;
}

.content > :first-child {
  width: 16%;
}

.content > :last-child {
  width: 84%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2f2739;
}

@media only screen and (max-width: 1024px) {
  .content > :first-child {
    width: 0;
  }
  .content > :last-child {
    width: 100%;
  }
}